.taxi-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    .taxi-score {
        margin: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 2.5em;
        font-weight: bold;
    }

    .taxi-display-wrapper{
        width: 500px;

        .taxi-display {
            position: relative;
            max-width: 500px;
            height: 500px;
    
            .background {
                z-index: -1;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        
            .taxi-board {
                position: absolute;
                display: flex;
                flex-direction: column;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
        
                .board-row {
                    display: flex;
                }
        
                .road-tile {
                    width: 20%;
                    height: 20%;
                }
        
                .taxi {
                    position: absolute;
                    z-index: 1;
                    width: 20%;
                    height: 20%;
                }
        
                .pickup {
                    position: absolute;
                    z-index: 1;
                    width: 20%;
                    height: 20%;
                }
        
                .dropoff {
                    position: absolute;
                    z-index: 1;
                    width: 20%;
                    height: 20%;
                }
            }
        }
    }

    .taxi-controls {
        margin-left: 1rem;

        .title {
            margin: 0.5rem;
            padding-bottom: 1rem;
            font-weight: bold;
            font-size: 2rem;
        }

        .key-row-wrapper {
            margin: 0.5rem;

            .key-row {
                max-width: 225px;
                height: 80px;
                display: flex;
                justify-content: space-between;
            }
    
            .random-state-button {
                margin: 0.5rem;
            }
        }
    }
}

.taxi-wrapper-mobile {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .taxi-score {
        margin: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 2.5em;
        font-weight: bold;
    }

    .taxi-display-wrapper{
        max-width: 500px;

        .taxi-display {
            position: relative;
            max-width: 500px;
            padding-top: 100%;

            .background {
                z-index: -1;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
            }
        
            .taxi-board {
                position: absolute;
                display: flex;
                flex-direction: column;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
        
                .board-row {
                    display: flex;
                }
        
                .road-tile {
                    width: 20%;
                    height: 20%;
                }
        
                .taxi {
                    position: absolute;
                    z-index: 1;
                    width: 20%;
                    height: 20%;
                }
        
                .pickup {
                    position: absolute;
                    z-index: 1;
                    width: 20%;
                    height: 20%;
                }
        
                .dropoff {
                    position: absolute;
                    z-index: 1;
                    width: 20%;
                    height: 20%;
                }
            }
        }
    }

    .taxi-controls {
        margin-top: 1rem;
        display: flex;
        flex-flow: wrap;

        .title {
            margin: 0.5rem;
            font-weight: bold;
            font-size: 2rem;
        }

        .key-row-wrapper{
            margin: 0.5rem;

            .key-row {
                max-width: 225px;
                height: 80px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.random-state-button {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5em;
    height: fit-content;
    border: solid #1F1F1F 1px;
    cursor: pointer;

    &:active {
        background-color: #EFEFEF;
    }
}